* {
  font-size: 16px;
}


body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
   margin: 16px auto;
   padding: 10px ;
}

.title {
  background: #e3f4ff;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 16px ;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
}

button {
  background: white;
  padding: 10px;
  border: 1px solid #eee;
}